.form {
    display: flex;
    flex-direction: column;
    width: var(--form-size);
}

.form__row {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 5px;
}

.form__col {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction : column;
    justify-content:center;
}

.form__col--30 {
    width: 30%;
}

.form__col--70 {
    width:70%;
}

.form__label {
}

.form__label--bold {
    font-weight: bold;
}

.form__input {
    width: 100%;
    height: 100%;
    border: none;
    box-sizing: border-box;
}

.form__input--hidden {
    display: none;
}

.form__btn {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
}
