#preview {
    display: flex;
    flex-direction: row;
    justify-content: start;
    overflow-x: auto;
}

.image-profile {
    width:200px;
    height:200px;
    object-fit: contain;
}

.image-upload {
    width: 110px;
    height: 110px;
    object-fit: contain;
}