.user-main {
    width: 400px;
    height: 400px;
    display:flex;
    flex-direction: column;
/*
    margin-bottom:20px;
*/
}

.user-main__col {
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.user-main__col--70{
    width:70%;
}

.user-main__col--30 {
    width:30%;
}

.user-main__row {
    width: 100%;
    height:100%;
    margin:5px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

.user-main__row--70 {
    height:70%;
}

.user-main__row--30 {
    height:30%;
}

.user-main__row--small {
    width: 100%;
    height:40px;
}

.user-main__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-main__label {
    font-size:11px;
}

.user-main__label--blue {
    color: blue;
}

.user-main__link {
    font-size:11px;
}

.user-main__link--blue {
    color: blue;
}

.user-main__btn {
    border: none;
    font-size:11px;
    background-color: transparent;
    color: blue;
}

.user-main__btn--red {
    color:red;
}

.user-main__profile-text {
    font-size: 13px;
    line-height: 18px;
}