.category {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.category__add {
    width:400px;
    height:40px;
    display: flex;
    margin-bottom:7px;
}

.category__add--hidden{
    display:none;
}

.category__form {
    width:400px;
    height:40px;
    display:flex;
    justify-content: right;
    flex-direction: row;
    margin-bottom:7px;
}

.category__list {
    width:400px;
}

.category__parent {
    display:flex;
    justify-content:right;
    height:40px;
    margin-bottom:7px;
}

.category__child {
    display:flex;
    justify-content:right;
    height:40px;
    margin-bottom:7px;
}

.category__input {
    border: none;
    width:100%;
    height:100%;
    box-sizing: border-box;
    padding-left:10px;
}

.category__input--blue0 {
    background-color: #f0f6fc;
}

.category__input--blue5 {
    background-color: #c5d9ed;
}

.category__input--blue10 {
    background-color: #f0f0f1;
}

.category__btn {
    width:100%;
    height:100%;
    border: none;
    box-sizing: border-box;
}

.category__col {
    height:100%;
    width:100%;
    margin-left: 7px;
}

.category__col--80 {
    width:83.5%;
}

.category__col--60 {
    width:60%;
}

.category__col--10 {
    width:10%;
}