.home {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.home__feed {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px 0px 20px;
}