.home__createdDate {
    font-size: 10px;
    color: blue;
}

.home__username {
    font-size: 14px;
    font-weight: bold;
    color: black;
    text-decoration-line: none;
}

.home__status,
.home__category,
.home__artist,
.home__album,
.home__genre {
    font-size:12px;
    color:darkgray;
}

.home__image {
    height: 300px;
    object-fit: contain;
}

.home__text {
    color: black;
}