.notification {
}

.notification__list {
    display:flex;
    align-items:center;
    justify-content: center;
}

.notification__link {
    padding:10px;
}

.notification__created-date {
    font-size: 11px;
    color: blue;
}