.posts {
    height:80vh;
    display:flex;
    justify-content:center;
}

.posts__left {
    width: 30%;
    border-right: 1px solid #c0c0c0
}

.posts__left-category {
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #c0c0c0
}

.posts__left-title {
    display:flex;
    justify-content:space-between;
    padding: 10px 10px 10px 0px;
    border-bottom: 1px solid #c0c0c0
}

.posts__left-image {
    padding: 10px 0px 10px 0px;
}

.posts__left-image-content {
    display: none;
}

.posts__right {
    width: 30%;
}

.posts__right-btn {
    display:flex;
    justify-content:right;
    padding: 10px 10px 10px 0px;
    border-bottom: 1px solid #c0c0c0
}

.posts__right-content{
}

.posts__right-content-text {
    height:30vh;
    padding: 10px 0px 10px 10px;
    border-bottom: 1px solid #c0c0c0
}

.posts__right-content-hashtag {
    display:flex;
    justify-content:right;
    padding: 10px 10px 10px 0px;
    border-bottom: 1px solid #c0c0c0
}

.posts__right-comment{
}

.posts__right-comment-form{
    padding: 10px 0px 10px 10px;
}

.posts__right-comment-form-btn{
    border:none;
    background-color:transparent;
    font-size: 10px;
    color: #808080;
}

.posts__right-comment-list{
    display:flex;
    flex-direction:column;
    padding: 5px 0px 5px 10px;
}

.posts__right-comment-list-createdDate{
    font-size:7px;
    float: left;
    padding-bottom:5px;
    color:blue;
}

.posts__right-comment-list-content {
    display:flex;
}

.posts__right-comment-list-content-username{
    font-weight: bold;
    padding-right: 10px;
}

.posts__right-comment-list-content-text{
}

.posts__right-comment-child-list {
    display:flex;
    flex-direction:column;
    margin-left:50px;
    padding: 5px 0px 5px 10px;
}

.hidden {
    display:none;
}