.posts {
    width:70vw;
    height:70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts__row {
    display:flex;
    width: 100%;
    height: 100%;

    border: 1px solid blue;
}

.posts__row--10 {
    height: 10%;

    border: 1px solid red;
}

.posts__row--30 {
    height: 30%;

    border: 1px solid red;
}

.posts__row--40 {
    height: 40%;

    border: 1px solid pink;
}


.posts__row--90 {
    height: 90%;

    border: 1px solid green;

}

.posts__col{
    width: 100%;
    height: 100%;

    border: 1px solid orange;
}

.posts__col--50{
    width: 50%;

    border: 1px solid orange;
}

.posts__comment-form {
    display: flex;
}

.posts__comment-list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.posts__parent-comment {
    width: 100%;
    display: flex;
}

.posts__child-comment {
    width: 100%;
    display: flex;
    margin-left: 30px;
}

.posts__created-date {
    font-size: 11px;
    color: blue;
    margin-right: 10px;
}

.posts__username {
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
}

.posts__text {
    margin-right: 10px;
}

.hidden {
    display:none;
}