.user-home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-home__content {
    width: 100%;
    display: flex;
}

.user-home__category-list {
    display:flex;
    flex-direction: column;
    width: 400px;
    height: 100vh;
    margin-top: 15px;
    padding:40px 0px 40px 40px;
    background-color: transparent;
    border-right:  1px solid gainsboro;
}

.user-home__category {
    width: 100%;
    margin-bottom:30px;
    font-size: 18px;
    font-weight: 600;
}

.user-home__artist {
    width: 100%;
    margin-bottom:20px;
    font-size: 13px;
}

.user-home__posts-list {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px 0px 20px;
}


