<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" />
    <!--<title>Collection</title>-->
</head>
<body>
    <header class="header">
        <h1 th:text="|${username} 님|" class="header__title"></h1>
    </header>

    <main class="chatroom">
        <div class="chatroom__container" id="message-container">
            <div th:each ="chatRoomMessage : ${chatRoomMessages}" th:class="${chatRoomMessage.senderName == loginUsername} ? 'chatroom\_\_me' : 'chatroom\_\_opponent'">
                <div class="chatroom__createdDate">
                    <div th:text="${chatRoomMessage.createdTime}"></div>
                </div>
                <div class="chatroom__content">
                    <div class="chatroom__username" th:text="${chatRoomMessage.senderName}"></div>
                    <div th:class="${chatRoomMessage.senderName == loginUsername} ? 'chatroom\_\_message chatroom\_\_message--me' : 'chatroom\_\_message chatroom\_\_message--opponent'" th:text="${chatRoomMessage.message}"></div>
                </div>
            </div>
        </div>

        <div class="form">
            <input type="hidden" id="loginUsername" th:value="${loginUsername}">

            <div class="form__row">
                <div class="form__col form__col--70">
                    <input class="form__input" type="text" id="input-chat" placeholder="내용" th:required="true">
                </div>
                <div class="form__col form__col--30">
                    <button class="form__btn" type="button" th:onclick="send([[${loginUserId}]], [[${receiverId}]], [[${chatRoomId}]])">보내기</button>
                </div>
            </div>
        </div>
    </main>

    <div th:replace="fragments/footer :: footer" />

    <script src="/js/chat.js"></script>

</body>
</html>