<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" />
    <!--<title>Collection</title>-->
</head>
<body>
    <header class="screen-header">
        <h1 th:text="|${username} 님|" class="screen-header__title"></h1>
    </header>

    <main class="chatroom">

        <div class="chatroom__container" id="message-container">
            <div th:each ="chatRoomMessage : ${chatRoomMessages}" th:class="${chatRoomMessage.senderName == loginUsername} ? 'chatroom\_\_container-me' : 'chatroom\_\_container-opponent'">
                <div class="chatroom__container-message-createdDate">
                    <div th:text="${chatRoomMessage.createdTime}"></div>
                </div>
                <div class="chatroom__container-message-content">
                    <div class="chatroom__container-message-username" th:text="${chatRoomMessage.senderName}"></div>
                    <div class="chatroom__container-message-message" th:text="${chatRoomMessage.message}"></div>
                </div>
            </div>
        </div>
        <div class="chatroom__form">
            <input type="hidden" id="loginUsername" th:value="${loginUsername}">
            <input type="text" id="input-chat" placeholder="내용" th:required="true">
            <button type="button" th:onclick="send([[${loginUserId}]], [[${receiverId}]], [[${chatRoomId}]])">보내기</button>
        </div>
    </main>

    <div th:replace="fragments/footer :: footer" />

    <script src="/js/chat.js"></script>

</body>
</html>