<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" />
    <!--<title>Collection</title>-->
</head>
<body>

<div class="container">
    <h1 th:text="|${username} 님|"></h1>

    <div>
        <input type="hidden" id="username" th:value="${username}">
        <input type="text" id="input-chat" placeholder="내용" th:required="true">
        <button type="button" th:onclick="send([[${loginUserId}]], [[${receiverId}]], [[${chatRoomId}]])">보내기</button>
    </div>

    <div id="message-container">
        <!--이 전 메세지-->
        <div th:each ="chatRoomMessage : ${chatRoomMessages}">
            <span th:text="|${chatRoomMessage.createdTime} / |"></span>
            <span th:text="|${chatRoomMessage.senderName} / |"></span>
            <span th:text="${chatRoomMessage.message}"></span>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer" />

    <script src="/js/chat.js"></script>
</div>

</body>
</html>