<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

    <div th:replace="fragments/navigation :: navigation" />

    <header class="header">
        <h1 class="header__title">게시물 수정</h1>
    </header>

    <main class="posts-update">
        <input type="hidden" name="loginUsername" th:value="${loginUsername}">

        <form class="form" th:object="${updatePostsRequestDto}" id="update-posts-form">
            <div class="form__row">
                <div class="form__col form__col--30">
                    <label class="form__label form__label--bold">카테고리</label>
                </div>
                <div class="form__col form__col--70">
                    <select class="form__select" th:field="*{category}" required>
                        <option th:each = "category : ${categories}" th:text="${category}" th:value="${category}"></option>
                    </select>
                </div>
            </div>

            <div class="form__row">
                <div class="form__col form__col--30">
                    <label class="form__label form__label--bold">게시물 상태</label>
                </div>
                <div class="form__col form__col--70">
                    <select class="form__select" th:field="*{status}" required>
                        <option th:each = "status : ${statuses}" th:text="${status}" th:value="${status}"></option>
                    </select>
                </div>
            </div>

            <div class="form__row">
                <div class="form__col form__col--30">
                    <label class="form__label form__label--bold">아티스트</label>
                </div>
                <div class="form__col form__col--70">
                    <input class="form__input" type="text" th:value="*{artist}" th:field="*{artist}" readonly required>
                </div>
            </div>

            <div class="form__row">
                <div class="form__col form__col--30">
                    <label class="form__label form__label--bold">앨범</label>
                </div>
                <div class="form__col form__col--70">
                    <input class="form__input" type="text" th:value="*{album}" th:field="*{album}" readonly required>
                </div>
            </div>

            <div class="form__row">
                <div class="form__col form__col--30">
                    <label class="form__label form__label--bold">장르</label>
                </div>
                <div class="form__col form__col--70">
                    <input class="form__input" type="text" th:value="*{genre}" th:field="*{genre}" readonly required>
                </div>
            </div>

            <div class="form__row form__row--long">
                <div class="form__col form__col--30">
                    <label class="form__label form__label--bold">앨범아트</label>
                </div>
                <div class="form__col form__col--70">
                    <input class="form__input form__input--hidden" type="text" th:field="*{albumArt}" placeholder="아티스트를 검색하세요" id="album-art" readonly required>
                    <img class="posts-add__album-art" id="album-art-img" th:src="*{albumArt}">
                </div>
            </div>

            <div class="form__row form__row--long">
                <div class="form__col form__col--30">
                    <label>이미지</label>
                </div>
                <div class="form__col form__col--70">
                    <img class="form__img" th:src="@{/api/v1/image/{imageId}(imageId=${imageId})}">
                </div>
            </div>

            <div class="form__row">
                <div class="form__col form__col--30">
                    <label class="form__label form__label--bold">내용</label>
                </div>
                <div class="form__col form__col--70">
                    <textarea class="form__textarea" th:value="*{text}" th:field="*{text}" placeholder="내용"></textarea>
                </div>
            </div>

            <div class="form__row">
                <div class="form__col">
                    <button class="form__btn" type="submit" th:onclick="updatePosts([[${postsId}]])">수정</button>
                </div>
                <div class="form__col">
                    <button class="form__btn" type="submit" th:onclick="deletePosts([[${postsId}]])">삭제</button>
                </div>
            </div>
        </form>
    </main>

    <div th:replace="fragments/footer :: footer" />

    <script src="/js/update-posts.js"></script>
    <script src="/js/delete-posts.js"></script>

</body>
</html>