<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<body>
    <div th:replace="fragments/navigation :: navigation" />

    <header class="header">
        <h1 class="header__title">
            <a th:text="${username}" th:href="@{/user/{username}/home(username=${username})}"></a>
        </h1>
    </header>

    <main class="posts">

        <div class="posts__row">
            <div class="posts__col">
                <!-- 이미지 -->
                <div th:each="imageId : ${getPostsResponseDto.representativeImageId}">
                    <img th:src="@{/api/v1/image/{imageId}(imageId=${imageId})}">
                </div>
                <div>
                    <button th:onclick="showPrevImage()">이전</button>
                </div>
                <div>
                    <button th:onclick="showNextImage()">다음</button>
                </div>
            </div>
            <div class="posts__col">
                <div class="posts__row posts__row--10">
                    <div class="posts__col posts__col--50">
                        <!-- 날짜 -->
                    </div>
                    <div class="posts__col posts__col--50">
                        <div th:text="${getPostsResponseDto.categoryName}"></div>
                    </div>
                </div>
                <div class="posts__row posts__row--10">
                    <div class="posts__col col--50">
                        <div th:text="${getPostsResponseDto.title}"></div>
                    </div>
                    <div class="posts__col col--50">
                        <div th:text="${getPostsResponseDto.hashtags}"></div>
                    </div>
                </div>
                <div class="posts__row posts__row--40">
                    <div class="posts__right-content-text" th:text="${getPostsResponseDto.text}"></div>
                </div>

                <!-- 댓글 창 -->
                <div class="posts__row posts__row--10">
                    <div class="">
                        <input type="hidden" th:value="${loginUsername}" id="loginUsername">
                        <form class="posts__comment-form" th:object="${createParentCommentRequestDto}" id="create-parent-comment-form">
                                <div class="">
                                    <input class="" type="text" th:field="*{text}" placeholder="내용" required>
                                </div>
                                <div class="">
                                    <button class="" type="submit" th:onclick="createParentComment([[*{userId}]], [[*{postsId}]]); notificationSend([[${loginUsername}]],[[${username}]],[[*{postsId}]])">댓글 달기</button>
                                </div>
                        </form>
                        <!-- else 위에 div 클래스가 child 이면 -->
                        <form class="posts__comment-form hidden" th:object="${createChildCommentRequestDto}" id="create-child-comment-form">
                            <input type="hidden" th:field="*{parentCommentId}" id="parentCommentId">
                            <div class="">
                                <input class="" type="text" th:field="*{text}" placeholder="내용" required>
                            </div>
                            <div class="">
                                <button class="" type="submit" th:onclick="createChildComment([[*{userId}]], [[*{postsId}]]); sendNotification([[${loginUsername}]],[[${username}]],[[*{postsId}]])">답글 달기</button>
                            </div>
                            <div class="">
                                <button class="" type="button" th:onclick="switchParentForm()">X</button>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- 댓글 -->
                <div class="posts__row posts__row--30">
                    <div class="posts__comment-list" th:each="parentComment : ${parentComments}">
                        <div class="posts__parent-comment">
                            <div>
                                <div class="posts__created-date" th:text="${parentComment.createdDate}"></div>
                            </div>
                            <div>
                                <div class="posts__username" th:text="${parentComment.username}"></div>
                            </div>
                            <div>
                                <div class="posts__text" th:text="${parentComment.text}"></div>
                            </div>
                            <div class>
                                <button class="posts__btn" type="button" th:onclick="switchChildForm([[${parentComment.id}]])">답글 달기</button>
                            </div>
                            <div>
                                <button class="posts__btn" th:if="${parentComment.username == loginUsername}" type="button" th:onclick="deleteComment([[${parentComment.id}]])">삭제</button>
                            </div>
                        </div>

                        <div class="posts__child-comment" th:each="childComment : ${childComments}" th:if="${childComment.parentId==parentComment.id}">
                            <div>
                                <div class="posts__created-date" th:text="${childComment.createdDate}"></div>
                            </div>
                            <div>
                                <div class="posts__username" th:text="${childComment.username}"></div>
                            </div>
                            <div>
                                <div class="posts__text" th:text="${childComment.text}"></div>
                            </div>
                            <div>
                                <button class="posts__btn" th:if="${childComment.username == loginUsername}" type="button" th:onclick="deleteComment([[${childComment.id}]])">삭제</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:if="${isMyPost}">
            <a th:href="@{/posts/update/{id}(id=${getPostsResponseDto.id})}">수정</a>
        </div>
        <div th:unless="${isMyPost}">
            <a th:href="@{/chatroom/{loginUserId}/{userId}(loginUserId=${loginUserId}, userId=${userId})}" target="_blank">채팅</a>
        </div>

    </main>

    <div th:replace="fragments/footer :: footer" />

    <script src="/js/show-posts-image.js"></script>
    <script src="/js/create-parent-comment.js"></script>
    <script src="/js/create-child-comment.js"></script>
    <script src="/js/delete-comment.js"></script>
    <script src="/js/send-notification-comment.js"></script>

</body>
</html>