<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<body>
    <div th:replace="fragments/navigation :: navigation" />

    <header class="screen-header">
        <!--게시물 내용-->
        <h1 class="screen-header__title">
            <a th:text="${username}" th:href="@{/user/{username}/home(username=${username})}"></a>
        </h1>
    </header>

    <main class="posts">
        <div class="posts__left">
            <!-- 카테고리 -->
            <div class="posts__left-category">
                <div th:text="${getPostsResponseDto.categoryName}"></div>
            </div>
            <div class="posts__left-title">
                <!-- 상태 -->
                <div th:text="${getPostsResponseDto.status}"></div>
                <!-- 제목 -->
                <div th:text="${getPostsResponseDto.title}"></div>
            </div>
            <!-- 이미지 -->
            <div class="posts__left-image">
                <div th:each="imageId : ${getPostsResponseDto.representativeImageId}">
                    <img class="posts__left-image-content" th:src="@{/api/v1/image/{imageId}(imageId=${imageId})}">
                </div>
            </div>
            <div>
                <button th:onclick="showPrevImage()">이전</button>
                <button th:onclick="showNextImage()">다음</button>
            </div>
        </div>

        <div class="posts__right">
            <!-- 버튼 -->
            <div class="posts__right-btn" th:if="${isMyPost}">
                <a th:href="@{/posts/update/{id}(id=${getPostsResponseDto.id})}">수정</a>
            </div>
            <div class="posts__right-btn" th:unless="${isMyPost}">
                <a th:href="@{/chatroom/{loginUserId}/{userId}(loginUserId=${loginUserId}, userId=${userId})}" target="_blank">채팅</a>
            </div>
            <!-- 내용 -->
            <div class="posts__right-content">
                <!-- 해시태그 -->
                <div class="posts__right-content-hashtag" th:text="${getPostsResponseDto.hashtags}"></div>
                <div class="posts__right-content-text" th:text="${getPostsResponseDto.text}"></div>
            </div>
            <!-- 댓글 -->
            <div class="posts__right-comment">
                <input type="hidden" th:value="${loginUsername}" id="loginUsername">

                <!--댓글 작성 form-->
                <div class="posts__right-comment-form">
                    <form th:object="${createParentCommentRequestDto}" id="create-parent-comment-form">
                        <div>
                            <input type="text" th:field="*{text}" placeholder="내용" required>
                            <button type="submit" th:onclick="createParentComment([[*{userId}]], [[*{postsId}]]); notificationSend([[${loginUsername}]],[[${username}]],[[*{postsId}]])">댓글 달기</button>
                        </div>
                    </form>
                    <!-- else 위에 div 클래스가 child 이면 -->
                    <form class="hidden" th:object="${createChildCommentRequestDto}" id="create-child-comment-form">
                        <div>
                            <input type="hidden" th:field="*{parentCommentId}" id="parentCommentId">

                            <input type="text" th:field="*{text}" placeholder="내용" required>
                            <button type="submit" th:onclick="createChildComment([[*{userId}]], [[*{postsId}]]); sendNotification([[${loginUsername}]],[[${username}]],[[*{postsId}]])">답글 달기</button>
                            <button type="button" th:onclick="switchParentForm()">X</button>
                        </div>
                    </form>

                </div>

                <!--댓글 목록-->
                <div>
                    <div class="posts__right-comment-list" th:each="parentComment : ${parentComments}">
                        <div class="posts__right-comment-list-createdDate">
                            <div th:text="${parentComment.createdDate}"></div>
                        </div>
                        <div class="posts__right-comment-list-content">
                            <div class="posts__right-comment-list-content-username" th:text="${parentComment.username}"></div>
                            <div class="posts__right-comment-list-content-text"th:text="${parentComment.text}"></div>
                        </div>
                        <div>
                            <button class="posts__right-comment-form-btn" type="button" th:onclick="switchChildForm([[${parentComment.id}]])">답글 달기</button>
                            <button th:if="${parentComment.username == loginUsername}" class="posts__right-comment-form-btn" type="button" th:onclick="deleteComment([[${parentComment.id}]])">삭제</button>
                        </div>

                        <!-- 답글 목록-->
                        <div>
                            <div class="posts__right-comment-child-list" th:each="childComment : ${childComments}" th:if="${childComment.parentId==parentComment.id}">
                                <div class="posts__right-comment-list-createdDate">
                                    <div th:text="${childComment.createdDate}"></div>
                                </div>
                                <div class="posts__right-comment-list-content">
                                    <div class="posts__right-comment-list-content-username" th:text="${childComment.username}"></div>
                                    <div class="posts__right-comment-list-content-text"th:text="${childComment.text}"></div>
                                </div>
                                <div>
                                    <button th:if="${childComment.username == loginUsername}" class="posts__right-comment-form-btn" type="button" th:onclick="deleteComment([[${childComment.id}]])">삭제</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>

    <div th:replace="fragments/footer :: footer" />

    <script src="/js/show-posts-image.js"></script>
    <script src="/js/create-parent-comment.js"></script>
    <script src="/js/create-child-comment.js"></script>
    <script src="/js/delete-comment.js"></script>
    <script src="/js/send-notification-comment.js"></script>

</body>
</html>