<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<body>
    <div th:replace="fragments/navigation :: navigation" />

    <header class="screen-header">
        <!--게시물 내용-->
        <h1 class="screen-header__title">
            <a th:text="${username}" th:href="@{/user/{username}/home(username=${username})}"></a>
        </h1>
    </header>

    <main class="posts">
        <div class="posts__left">
            <!-- 카테고리 -->
            <div class="posts__left-category">
                <div th:text="${postsResponseDto.categoryName}"></div>
            </div>
            <div class="posts__left-title">
                <!-- 상태 -->
                <div th:text="${postsResponseDto.status}"></div>
                <!-- 제목 -->
                <div th:text="${postsResponseDto.title}"></div>
            </div>
            <!-- 이미지 -->
            <div class="posts__left-image">
                <img th:src="@{/api/v1/image-view/{imageId}(imageId=${postsResponseDto.representativeImageId})}">
            </div>
        </div>

        <div class="posts__right">
            <!-- 버튼 -->
            <div class="posts__right-btn" th:if="${isMyPost}">
                <a th:href="@{/posts/update/{id}(id=${postsResponseDto.id})}">수정</a>
            </div>
            <div class="posts__right-btn" th:unless="${isMyPost}">
                <a th:href="@{/chatroom/{loginUserId}/{userId}(loginUserId=${loginUserId}, userId=${userId})}" target="_blank">채팅</a>
            </div>
            <!-- 내용 -->
            <div class="posts__right-content">
                <!-- 해시태그 -->
                <div class="posts__right-content-hashtag" th:text="${postsResponseDto.hashtags}"></div>
                <div class="posts__right-content-text" th:text="${postsResponseDto.text}"></div>
            </div>
            <!-- 댓글 -->
            <div class="posts__right-comment">
                <!--댓글 작성 form-->
                <div class="posts__right-comment-form">
                    <form th:object="${commentAddRequestDto}" id="comment-add-form">
                        <div>
                            <input type="hidden" th:value="${loginUsername}" id="loginUsername">
                            <input type="hidden" th:field="*{userId}">
                            <input type="hidden" th:field="*{postsId}">

                            <input type="text" th:field="*{text}" placeholder="내용" th:required="true">
                            <button type="submit" id="comment-add-btn" th:onclick="commentAdd(); notificationSend([[${loginUsername}]],[[${username}]],[[*{postsId}]])">댓글 달기</button>
                        </div>
                    </form>
                </div>
                <!--댓글 목록-->
                <div>
                    <div class="posts__right-comment-list" th:each="comment : ${comments}">
                        <div class="posts__right-comment-list-username" th:text="${comment.username}"></div>
                        <div class="posts__right-comment-list-text"th:text="${comment.text}"></div>
                        <div class="posts__right-comment-list-createdDate" th:text="${comment.createdDate}"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div th:replace="fragments/footer :: footer" />

    <script src="/js/commentAdd.js"></script>
    <script src="/js/notificationPosts.js"></script>

</body>
</html>