<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<body>
  <div th:replace="fragments/navigation :: navigation" />

  <div class="container">
    <h1>글쓰기</h1>

    <input type="hidden" name="loginUsername" th:value="${loginUsername}">

    <form th:object="${postsAddRequestDto}" id="posts-add-form">
      <div>
        <input type="hidden" th:field="*{userId}">
      </div>

      <div>
        <select style="width:100px;height:22px" th:field="*{categoryName}">
          <option th:each = "category : ${categories}" th:text="${category.name}" th:value="${category.name}"></option>
        </select>
      </div>

      <div>
        <select style="width:100px;height:22px" th:field="*{status}">
          <option th:each = "status : ${statuses}" th:text="${status}" th:value="${status}"></option>
        </select>
      </div>

      <div>
        <input type="text" th:field="*{title}" placeholder="제목">
      </div>

      <div>
        <input type="file" id="posts-rep-add-img" placeholder="이미지 선택">
      </div>

      <div>
        <input type="text" th:field="*{text}" placeholder="내용">
      </div>

      <div>
        <input type="text" th:field="*{hashtags}" placeholder="해시태그 (#로 구분)">
      </div>

      <button type="submit" class="btn btn-primary" id="posts-add-btn">추가</button>
    </form>

    <script th:inline="javascript" src="/js/postsAdd.js"></script>

    <div th:replace="fragments/footer :: footer" />
  </div>
</body>
</html>