<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<body>
    <div th:replace="fragments/navigation :: navigation" />

    <header class="header">
        <h1 class="header__title">글쓰기</h1>
    </header>

    <main class="posts-add">
        <input type="hidden" name="loginUsername" th:value="${loginUsername}">

        <form class="form" th:object="${createPostsRequestDto}" id="create-posts-form">
            <div class="form__row">
                <div class="form__col form__col--30">
                    <label class="form__label form__label--bold">카테고리</label>
                </div>
                <div class="form__col form__col--70">
                    <select class="form__select" th:field="*{category}" required>
                        <option th:each = "category : ${categories}" th:text="${category}" th:value="${category}"></option>
                    </select>
                </div>
            </div>

            <div class="form__row">
                <div class="form__col form__col--30">
                    <label class="form__label form__label--bold">게시물 상태</label>
                </div>
                <div class="form__col form__col--70">
                    <select class="form__select" th:field="*{status}" required>
                        <option th:each = "status : ${statuses}" th:text="${status}" th:value="${status}"></option>
                    </select>
                </div>
            </div>

            <div class="form__row">
                <div class="form__col form__col--70">
                    <input class="form__input" type="text" placeholder="아티스트 명" id="artist-input">
                </div>
                <div class="form__col form__col--30">
                    <button type="button" class="form__input" th:onclick="searchAlbum()">검색</button>
                </div>
            </div>

            <div class="form__row">
                <div class="form__col form__col--30">
                    <label class="form__label form__label--bold">검색 결과</label>
                </div>
                <div class="form__col form__col--70">
                    <select class="form__select" id="artist-select">

                    </select>
                </div>
            </div>

            <div class="form__row">
                <div class="form__col form__col--30">
                    <label class="form__label form__label--bold">아티스트</label>
                </div>
                <div class="form__col form__col--70">
                    <input class="form__input" type="text" th:field="*{artist}" placeholder="아티스트를 검색하세요" id="artist" readonly required>
                </div>
            </div>

            <div class="form__row">
                <div class="form__col form__col--30">
                    <label class="form__label form__label--bold">앨범</label>
                </div>
                <div class="form__col form__col--70">
                    <input class="form__input" type="text" th:field="*{album}" placeholder="아티스트를 검색하세요" id="album" readonly required>
                </div>
            </div>

            <div class="form__row">
                <div class="form__col form__col--30">
                    <label class="form__label form__label--bold">장르</label>
                </div>
                <div class="form__col form__col--70">
                    <input class="form__input" type="text" th:field="*{genre}" placeholder="아티스트를 검색하세요" id="genre" readonly required>
                </div>
            </div>

            <div class="form__row form__row--long">
                <div class="form__col form__col--30">
                    <label class="form__label form__label--bold">앨범아트</label>
                </div>
                <div class="form__col form__col--70">
                    <input class="form__input form__input--hidden" type="text" th:field="*{albumArt}" placeholder="아티스트를 검색하세요" id="album-art" readonly required>
                    <img class="posts-add__album-art" id="album-art-img">
                </div>
            </div>


            <div class="form__row form__row--long">
                <div class="form__col form__col--30">
                    <label class="form__label form__label--blue" for="posts-img-input">이미지 업로드</label>
                    <input class="form__input form__input--hidden" type="file" id="posts-img-input" multiple="multiple">
                </div>
                <div class="form__col form__col--70">
                    <!-- 이미지 넣자 -->
                </div>
            </div>

            <div class="form__row">
                <div class="form__col form__col--30">
                    <label class="form__label form__label--bold">내용</label>
                </div>
                <div class="form__col form__col--70">
                    <textarea class="form__textarea" th:field="*{text}" placeholder="내용"></textarea>
                </div>
            </div>

            <div class="form__row">
                <div class="form__col">
                    <button class="form__btn" type="submit" th:onclick="createPosts([[*{userId}]])">추가</button>
                </div>
            </div>
        </form>

    </main>

    <div th:replace="fragments/footer :: footer" />

    <script th:inline="javascript" src="/js/create-posts.js"></script>
    <script th:inline="javascript" src="/js/search-album.js"></script>

</body>
</html>