<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" />
    <!--<title>Collection</title>-->
</head>
<body>
    <div th:replace="fragments/navigation :: navigation"/>

    <header class="header">
        <h1 class="header__title">알림</h1>
    </header>

    <main class="notification">
        <!-- 안 읽은 알림 리스트 -->
        <div class="notification__list" th:each="notification : ${notifications}">
            <div class="notification__created-date" th:text="${notification.createdDate}"></div>
            <a class="notification__link" th:href="@{{url}(url=${notification.url})}" th:text="${notification.message}" th:onclick="updateNotification([[${notification.id}]])"></a>
        </div>
    </main>

    <div th:replace="fragments/footer :: footer" />

    <script src="/js/update-notification.js"></script>
</body>
</html>