<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
  <form th:object="${userJoinDto}" id="user-join-form">
    <div>
      <label>이름</label>
      <input type="text" th:field="*{username}" placeholder="이름" th:required="true">
    </div>
    <div>
      <label>비밀번호</label>
      <input type="text" th:field="*{password}" placeholder="비밀번호" th:required="true">
    </div>
    <div>
      <label>이메일</label>
      <input type="text" th:field="*{email}" placeholder="이메일" th:required="true">
    </div>
    <div>
      <label>이미지</label>
      <input type="text" th:field="*{image}" placeholder="이미지">
    </div>
    <button type="submit" class="btn btn-primary" id="user-join-btn">회원 가입</button>
  </form>

  <script src="/js/userjoin.js"></script>

  <div th:replace="fragments/footer :: footer" />
</body>
</html>