<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div th:replace="fragments/navigation :: navigation" />

<header class="header">
    <h1 class="header__title">비밀번호 변경</h1>
</header>

<main class="user-password">
    <form class="form" id="user-password-form" th:object="${userPasswordUpdateRequestDto}">
        <div class="form__row">
            <input class="form__input" type="password" th:field="*{oldPassword}" placeholder="비밀번호" required>
        </div>
        <div class="form__row">
            <input class="form__input" type="password" th:field="*{newPassword}" placeholder="새 비밀번호" required>
        </div>
        <div class="form__row">
            <button class="form__btn" type="submit" th:onclick="updateUserPassword([[${loginUserId}]])">변경</button>
        </div>
    </form>
</main>

<div th:replace="fragments/footer :: footer" />

<script src="/js/update-user-password.js"></script>

</body>
</html>