<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>마이홈</h1>

            <div>
                <a class="btn btn-primary" href="profile">내 정보</a>
                <a class="btn btn-primary" href="/category">카테고리 관리</a>
                <a class="btn btn-primary" href="/posts">글쓰기</a>
            </div>
            <!--수평정렬 수정 필-->
            <div class="col">
                <!--카테고리 목록-->
                <div>
                    <div>전체</div>
                    <div th:each="category : ${categories}">
                        <div th:text="${category.name}"></div>
                    </div>
                </div>
                <div>
                    <!--게시물 목록-->
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>게시물</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="post : ${posts}">
                            <td th:text="${post.image}"></td>
                            <td th:text="${post.title}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer" />
    </div>
</body>
</html>