<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

    <div th:replace="fragments/navigation :: navigation" />

    <header class="header">
        <h1 class="header__title">회원 가입</h1>
    </header>

    <div th:if="${error}">
        <script th:inline="javascript">
            alert([[${error}]]);
        </script>
    </div>

    <main class="join">
        <form class="form" action="/user/join" role="form" method="post" th:object="${createUserRequestDto}">
            <div class="form__row">
                <div class="form__col">
                    <input class="form__input" type="text" th:field="*{username}" placeholder="이름" required>
                </div>
            </div>
            <div class="form__row">
                <div class="form__col">
                    <input class="form__input" type="password" th:field="*{password}" placeholder="비밀번호" required>
                </div>
            </div>
            <div class="form__row">
                <div class="form__col">
                    <button class="form__btn" type="submit">회원 가입</button>
                </div>
            </div>
            <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
        </form>
    </main>

    <div th:replace="fragments/footer :: footer" />

</body>
</html>