<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
    <div th:replace="fragments/navigation :: navigation" />

    <header class="header">
        <h1 class="header__title">프로필</h1>
    </header>

    <main class="user-profile">
        <div class="user-main">
            <div class="user-main__row user-main__row--70">
                <div class="user-main__col user-main__col--70">
                    <img class="user-main__img" th:src="@{/api/v1/image/{imageId}(imageId=${imageId})}" id="preview">
                </div>
                <div class="user-main__col user-main__col--30">
                    <div class="user-main__row user-main__row--small">
                        <label class="user-main__label user-main__label--blue" for="profileImage">이미지 업로드</label>
                    </div>
                </div>
            </div>
        </div>

        <form class="form" method="post" enctype="multipart/form-data">

            <input class="form__input form__input--hidden" onchange="preview(this)" type="file" id="profileImage" name="profileImage">

            <div class="form__row">
                <label for="username">이름</label>
                <input class="form__input" type="text" id="username" name="username" th:value="${userProfileForm.username}" required>
                <p th:errors="${userProfileForm.username}"></p>
            </div>

            <div class="form__row">
                <label for="profileText">소개</label>
                <textarea class="form__textarea" id="profileText" name="profileText" th:value="${userProfileForm.profileText}"></textarea>
            </div>

            <div class="form__row">
                <div class="form__col">
                    <button class="form__btn" type="submit">수정</button>
                </div>
            </div>

        </form>
    </main>

    <div th:replace="fragments/footer :: footer" />

    <script src="/js/preview.js"></script>

</body>
</html>