<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<body>
<div th:replace="fragments/navigation :: navigation" />

<div class="container">
    <h1>채팅방 리스트</h1>

    <!-- 채팅방 리스트 -->
    <div th:each="chatroom : ${chatrooms}">
        <!-- 안읽은 메세지가 있으면 -->
        <a th:if="${chatroom.read == false}" style="color:red;" th:href="@{/chatroom/{loginUserId}/{userId}(loginUserId=${loginUserId}, userId=${chatroom.userId})}" th:text="${chatroom.username}" target="_blank"></a>
        <!-- 안읽은 메세지가 없으면 -->
        <a th:if="${chatroom.read == true}" th:href="@{/chatroom/{loginUserId}/{userId}(loginUserId=${loginUserId}, userId=${chatroom.userId})}" th:text="${chatroom.username}" target="_blank"></a>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>