<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<body>

    <div th:replace="fragments/navigation :: navigation" />

    <header class="header">
        <h1 class="header__title">채팅방 리스트</h1>
    </header>

    <div class="container w-25">
        <div class="row" th:each="chatroom : ${chatrooms}">
            <img class="col-sm-2 user-chatroom-list__img"  th:src="@{/api/v1/image/{imageId}(imageId=${chatroom.profileImageId})}">
            <a th:href="@{/chatroom/{loginUserId}/{userId}(loginUserId=${session.user.id}, userId=${chatroom.userId})}" th:class="${chatroom.confirm == false} ? 'col user-chatroom-list\_\_not-read' : 'col user-chatroom-list\_\_read'"  onclick="window.open(this.href, '_blank', 'width=900, height=900'); return false;" th:text="${chatroom.username}"></a>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer" />
</body>
</html>