<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
    <div th:replace="fragments/navigation :: navigation" />

    <header class="header">
        <h1 class="header__title">프로필</h1>
    </header>

    <main class="user-profile">
        <div class="user-main">
            <div class="user-main__row user-main__row--70">
                <div class="user-main__col user-main__col--70">
                    <img class="user-main__img" th:if="${imageId != null}" th:src="@{/api/v1/image/{imageId}(imageId=${imageId})}">
                </div>
                <div class="user-main__col user-main__col--30">
                    <div class="user-main__row user-main__row--small">
                        <label class="user-main__label user-main__label--blue" for="user-profile-img">이미지 업로드</label>
                    </div>
                    <div class="user-main__row user-main__row--small">
                        <a class="user-main__link user-main__link--blue" href="/user/profile/password">비밀번호 변경</a>
                    </div>
                </div>
            </div>
        </div>

        <form class="form" th:object="${getUserProfileResponseDto}" id="user-profile-form">

            <input class="form__input form__input--hidden" type="file" id="user-profile-img">

            <div class="form__row">
                <div class="form__col form__col--30">
                    <label class="form__label form__label--bold">이름</label>
                </div>
                <div class="form__col form__col--70">
                    <input class="form__input" type="text" th:value="*{username}" th:field="*{username}" placeholder="이름" required/>
                </div>
            </div>

            <div class="form__row">
                <div class="form__col form__col--30">
                    <label class="form__label form__label--bold">소개</label>
                </div>
                <div class="form__col form__col--70">
                    <textarea class="form__textarea" th:value="*{profileText}" th:field="*{profileText}" placeholder="소개"></textarea>
                </div>
            </div>

            <div class="form__row">
                <div class="form__col">
                    <button class="form__btn" type="submit" th:onclick="updateUser([[${loginUserId}]])">수정</button>
                </div>
            </div>

        </form>
    </main>

    <div th:replace="fragments/footer :: footer" />

    <script src="/js/update-user.js"></script>

</body>
</html>