.nav {
    position: fixed;
    background-color: #ffffe0;
    width:100%;
    padding: 20px 0px 20px 0px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(121, 121, 121, 0.3);
}

.nav__list {
    display: flex;
    justify-content: space-evenly;
}

.nav__btn {
}

.nav__link {
    color: #2e363e;
}

@keyframes appearBtnAnimation {
/*  from {
  }
  to {
    transform: rotateZ(360deg);
  }*/
  0%{
    scale:1;
  }
  50%{
    scale:1.3;
  }
  100%{
    scale:1;
  }

}

.nav__badge {
  position:fixed;
  color:tomato;
  animation: appearBtnAnimation 1.5s linear infinite;
}

