.nav {
    position: fixed;
    background-color: #ffffe0;
    width:100%;
    padding: 20px 0px 20px 0px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(121, 121, 121, 0.3);
}

.nav__list {
    display: flex;
    justify-content: space-evenly;
}

.nav__btn {
}

.nav__link {
    color: #2e363e;
}