<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" />
  <!--<title>Collection</title>-->
</head>
<body>
  <div th:replace="fragments/navigation :: navigation" />

  <div class="container">
    <H1>COLLECTION</H1>

    <div th:if="${login}">
      <!-- 팔로잉 유저 게시물 -->
      <table class="table table-striped">
        <thead>
        <tr>
          <th>유저 이름</th>
          <th>이미지</th>
          <th>타이틀</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${posts}">
          <td>
            <a th:text="${post.username}" th:href="@{user/{username}/home(username=${post.username})}"></a>
          </td>
          <td>
            <img th:src="@{/api/v1/image-view/{imageId}(imageId=${post.representativeImageId})}">
          </td>
          <td>
            <a th:text="${post.title}" th:href="@{posts/{postId}(postId=${post.id})}"></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div th:replace="fragments/footer :: footer" />

  </div>
</body>
</html>