<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" />
  <!--<title>Collection</title>-->
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <H1>COLLECTION</H1>

      <div th:if="${login}">
        <span th:text="|${username} 님|"></span>
        <a class="btn btn-primary" th:href="@{user/{username}/home(username=${username})}">마이홈</a>
        <button class="btn btn-primary" id="logout-btn">로그아웃</button>
        <a class="btn btn-primary" href="/search">검색</a>
        <!-- 팔로잉 유저 게시물 -->
        <table class="table table-striped">
          <thead>
          <tr>
            <th>유저 이름</th>
            <th>이미지</th>
            <th>타이틀</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="post : ${posts}">
            <td>
              <div th:text="${post.username}"></div>
            </td>
            <td>
              <div th:text="${post.image}"></div>
            </td>
            <td>
              <div th:text="${post.title}"></div>
            </td>
          </tr>
          </tbody>
        </table>


        <script src="/js/logout.js"></script>
      </div>

      <div th:unless="${login}">
        <a class="btn btn-primary" href="/user/join">회원 가입</a>
        <a class="btn btn-primary" href="/login">로그인</a>
      </div>

    </div>

    <div th:replace="fragments/footer :: footer" />

  </div>
</body>
</html>