<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
    <div th:replace="fragments/navigation :: navigation" />

    <header class="screen-header">
        <h1 class="screen-header__title">로그인</h1>
    </header>

    <main class="login">
        <div class="login__form">
            <form action="/login" role="form" method="post">
                <div class="login__form-label">
                    <input type="text" name="username" placeholder="이름" th:required="true">
                </div>
                <div class="login__form-label">
                    <input type="password" name="password" placeholder="비밀번호" th:required="true">
                </div>
                <div class="login__form-btn">
                    <button type="submit" class="btn btn-primary" id="login-btn">로그인</button>
                </div>
                <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
            </form>
        </div>
    </main>

    <div th:replace="fragments/footer :: footer" />
</body>
</html>