<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" />
</head>
<body>
    <div th:replace="fragments/navigation :: navigation" />

    <header class="header">
        <h1 class="header__title">검색</h1>
    </header>

    <main class="search">
        <div class="search__form">
            <form>
                <div>
                    <input id="search-text" type="text" placeholder="유저이름 혹은 해시태그" required>
                    <button type="submit" th:onclick="search()" id="search-btn">검색</button>
                </div>
            </form>
        </div>

        <div class="search__list">
            <!--검색 결과-->
            <div class="search__list-user" id="user-search-list">
            </div>

            <div class="search__list-posts" id="posts-search-list">
            </div>
        </div>
    </main>

    <div th:replace="fragments/footer :: footer" />

    <script src="/js/search.js"></script>

</body>
</html>